.circle-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.top-line {
    border-bottom: 1px solid #ccc;
}
.separator-line {
    width: 1px;
    height: 100px; /* Adjust the height as needed */
    background-color: #ccc;
    margin-left: 20px; /* Adjust the margin as needed */
    margin-right: 20px; /* Adjust the margin as needed */
}
#blogForm {
    display: flex;
    flex-direction: column;
}
.blog-container {
    display: flex;
    align-items: center;
}

.blog-info {
    flex: 1;
}

.input-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
