.top-line {
    border-bottom: 3px solid #ccc;
    padding-bottom: 5px;
}

.circle-box, .separator-line, #blogForm {
    margin: 20px;
    float: left; /* Add float property to align elements */
}

.circle-box {
    width: 425px;
    height: 425px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.separator-line {
    width: 3px;
    height: 500px; /* Adjust the height as needed */
    background-color: #ccc;
    margin: 0;
    padding-right: 5px;
}

#blogForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: right; /* Add float property to align the blog form to the right */
}